.navbar{
    background-color: rgb(73, 73, 73);
}
.navbar-text{
    color: white;
}
.nav-link{
    color: white;
}
.navbar-brand{
    color: white;
}
#carouselExampleCaptions{
    margin: 15px;
}
#gymdetrail{
    display: flexbox;
    margin: 15px;
    width: 80vw;
    height: 58vh;
    padding: .2vw;
}
.card{
    margin: 2vw;
    padding: 5px;
    display: inline-block;
}
h5{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#bcb{
    margin: 8px;
    color: black;
    text-align: center;
    font-family: 'Verdana';
}